// Main
$primary-color: rgb(229, 249, 240)
$secondary-color: rgb(137, 158, 139)
$link-color: rgb(190, 225, 234)
$text-color: rgb(255, 255, 255)
$border-color: rgb(191, 218, 95)
$background-color: rgb(44, 156, 113)
// Test
$primary-color-test: rgb(119, 156, 139)
$secondary-color-test: rgb(197, 240, 202)
$link-color-test: rgb(170, 85, 15)
$text-color-test: rgb(255, 174, 0)
$border-color-test: rgb(195, 202, 134)
$background-color-test: rgb(37, 88, 69)
