@import './colors'

$scrollbar-track-color: rgb(0, 0, 0)

body
    padding: 25px
    background-color: $primary-color-test
    color: $text-color
    font-size: 25px

.dark-mode
    // background-color is $primary-color but 50% darker
    background-color: darken($primary-color-test, 15%)
    color: darken($text-color, 15%)

// make the scrollbar width 20px
// https://stackoverflow.com/a/48641206/990048
// https://stackoverflow.com/a/48641206/990048
// https://stackoverflow.com/a/48641206/990048
.dark-mode::-webkit-scrollbar
    width: 20px

.dark-mode::-webkit-scrollbar-track
    background-color: $scrollbar-track-color

.dark-mode::-webkit-scrollbar-thumb
    background-color: $scrollbar-track-color
    border-radius: 10px

.dark-mode::-webkit-scrollbar-thumb:hover
    background-color: $primary-color-test

.dark-mode::-webkit-scrollbar-corner
    background-color: $scrollbar-track-color

.dark-mode::-webkit-scrollbar-button
    background-color: $scrollbar-track-color

.dark-mode::-webkit-scrollbar-button:hover
    background-color: $primary-color-test

.dark-mode::-webkit-scrollbar-button:active
    background-color: $primary-color-test
