@import "./colors"

.nav
    color: $link-color
    text-align: center
    font-family: 'Shizuru', cursive
    font-size: 1em
    text-decoration: none
    border-radius: 0.5em
    border: 3px solid $border-color
    list-style: none

a
    color: $link-color
    font-family: 'Shizuru', cursive
    font-size: 1.25em
    text-decoration: none

a:hover, a:click, a:focus, a:active
    color: $secondary-color
    text-decoration: none

li
    list-style: none
