@import "./colors"

h1
    color: $text-color
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    font-size: 1.5em

h2
    p
        color: $primary-color
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        font-size: 1.25em
        font-weight: lighter

body
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    font-size: 1em
    text-align: center
    background-color: $primary-color

a
    color: $link-color
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
    font-size: 1.25em
    text-decoration: none

a:hover, a:click, a:focus, a:active
    color: $secondary-color
