@import './colors'
@import './animation'

body
    background-image: url(https://waifu2x.booru.pics/outfiles/b74501837d6758ee722e9566fab6aa53f1d6ce22_s2_n2.jpg)
    background-size: cover
    animation: fade 1.5s

h1
    color: $text-color-test
    font-family: 'Shizuru', cursive
    font-size: 20px
    font-weight: 300
    text-align: center

p
    color: $text-color-test
    font-family: 'Shizuru', cursive
    font-weight: 150
    text-align: center

.nav
    color: $link-color-test
    justify-content: space-between
    text-align: center
    font-family: 'Shizuru', cursive
    font-size: 1em
    text-decoration: none
    border-radius: 0.5em
    border: 3px solid $border-color-test
    list-style: none

a
    color: $link-color-test
    font-family: 'Shizuru', cursive
    font-size: 1.25em
    text-decoration: none

a:hover, a:click, a:focus, a:active
    color: $secondary-color-test
    text-decoration: none

li
    list-style: none

button
    color: $link-color-test
    font-family: 'Shizuru', cursive
    font-size: 1.25em
    text-decoration: none
    border-radius: 0.5em
    border: 3px solid $border-color-test
    list-style: none
